* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Sans-Serif;
  background-color: #15202b;
  color: #fff;
  overflow: auto;
}

.byte-board {
  color: white;
  text-decoration: none;
}

.byte-board:hover {
  text-decoration: none;
}

h2 {
  padding: 10px;
}

.Header {
  display: flex;
  justify-content: start;
  width: 50%;
  padding: 30px;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

.Header-nav {
  display: flex;
  border-bottom: 1px solid white;
  text-decoration: none;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Nav {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  margin-left: auto;
}

.Nav a {
  color: white;
  text-decoration: none;
}

.Home,
.Topics,
.Log-in {
  padding: 10px;
}

li {
  text-decoration: none;
  list-style: none;
}

.fullArticle {
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.full-article-author {
  padding: 20px;
  margin-bottom: 20px;
}

.article-container {
  text-align: center;
  width: calc(30% - 20px);
  margin-bottom: 20px;
}

.card {
  margin: 10px;
  border: 1px solid #ddd;
  background-color: #253341;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 calc(50% - 20px);
}

.card img {
  max-width: 750%;
  height: auto;
}

.card ul {
  padding: 10px;
}

.image {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.article-name {
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}

.author,
.topic,
.votes,
.comment_count {
  color: #ccc;
}

.cardActions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer {
  border-top: 1px solid white;
  font-size: small;
  color: #fff;
  text-align: center;
  padding: 10px;
  transform: translateY(auto);
  margin-top: 20px;
}

.footer-subcontainer {
  display: flex;
}

.links,
.newsletter,
.contact {
  flex: 1;
  padding: 10px;
}

.sub-links {
  margin-top: 10px;
}

.form-input {
  padding: 10px;
}

.address {
  padding: 10px;
}

.subscribe {
  margin-top: 10px;
}

button {
  color: black;
  margin-left: 5px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  background-color: white;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer-subcontainer {
    flex-direction: column;
  }

  .Header {
    width: 100%;
  }

  .Nav {
    margin-left: auto;
  }

  .article-container {
    width: 100%;
  }

  .card {
    flex: 0 0 calc(50% - 20px);
  }

  .image {
    margin-bottom: 20px;
  }
}
