* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Sans-Serif;
  background-color: #15202b;
  color: #fff;
  overflow: auto;
}

.loading {
  text-align: center;
  padding: 200px;
}

@media only screen and (max-width: 600px) {
  .loading {
    padding: 20px;
  }
}

.byte-board {
  color: white;
  text-decoration: none;
}

.byte-board:hover {
  text-decoration: none;
}

h2 {
  padding: 10px;
}

.Header {
  display: flex;
  justify-content: start;
  width: 50%;
  padding: 30px;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

.Header-nav {
  display: flex;
  border-bottom: 1px solid white;
  text-decoration: none;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sub-heading {
  padding: 3px;
  color: #ccc;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #15202b;
}

.burger-menu {
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li {
  padding: 5px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
    z-index: 1;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #15202b;
    width: 100%;
    padding: 10px;
    z-index: 0;
  }

  .nav-links.active {
    display: flex;
  }
}

.Home,
.Cooking,
.Coding,
.Football,
.Log-in {
  padding: 10px;
}

li {
  text-decoration: none;
  list-style: none;
}

.fullArticle {
  padding: 50px;
  text-align: center;
}

.full-article-author {
  padding: 20px;
  margin-bottom: 20px;
}

.article-container {
  text-align: center;
  width: calc(30% - 20px);
  margin-bottom: 20px;
}

.card {
  margin: 10px;
  border: 1px solid #ddd;
  background-color: #253341;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 calc(50% - 20px);
}

.card img {
  max-width: 750%;
  height: auto;
}

.card ul {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .article-image {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
}

.image {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.article-name {
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}

.cardActions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer {
  border-top: 1px solid white;
  font-size: 10px;
  color: #fff;
  text-align: center;
  padding: 10px;
  transform: translateY(auto);
  margin-top: 20px;
}

.allComments {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links,
.newsletter,
.contact {
  flex: 1;
  padding: 10px;
  max-width: 260px;
}

.sub-links {
  margin-top: 10px;
}

.form-input {
  padding: 10px;
}

.address {
  padding: 10px;
}

.subscribe {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .individual-title {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
}

button {
  color: black;
  margin-left: 5px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  background-color: white;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: grey;
  color: #000;
}

.like:hover {
  background-color: green;
}

.dislike:hover {
  background-color: red;
}

.comment {
  padding: 10px;
  margin: 30px auto;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .comment {
    margin: 10px auto;
    width: 100%;
    text-align: center;
  }
}

.comments-title {
  text-decoration: underline;
  text-align: center;
}

.comment-user-date {
  margin-bottom: 10px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer-subcontainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .Header {
    width: 100%;
  }

  .Nav {
    margin-left: auto;
  }

  .article-container {
    width: 100%;
  }

  .card {
    flex: 0 0 calc(50% - 20px);
  }

  .image {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
